@font-face {
	font-family: "Play Regular";
	font-style: normal;
	font-weight: normal;
	src: url("/fonts/Play-Regular.woff") format("woff");
}

@font-face {
	font-family: "Play Bold";
	font-style: normal;
	font-weight: normal;
	src: url("/fonts/Play-Bold.woff") format("woff");
}

* {
	box-sizing: border-box;
	margin: unset;
}

html {
	-webkit-text-size-adjust: 100%;
	font-variation-settings: normal;
}

body {
	font-family: "Play Regular", monospace;
	font-weight: bold;
	color: #000;
}

input,
select,
button,
.button {
	padding: 12px;
	border-radius: 4px;
	border: 1px solid #262626;
	font-family: inherit;
}

button,
.button {
	cursor: pointer;
	background: #fff;
	border-color: #fff;
}

input,
select {
	width: 100%;
	background-color: #202020;
	color: #fff;
}

.checkbox {
	display: flex;
	flex-direction: row-reverse;
	justify-content: flex-end;
	align-items: center;
	gap: 0.25rem;

	&__mark {
		height: 25px;
		width: 50px;
		background-color: #202020;
		border: 1px solid #262626;
		border-radius: 99rem;
		padding: 2px;
		cursor: pointer;

		&:after {
			content: "";
			width: 20px;
			height: 20px;
			background: #404040;
			border-radius: 100%;
			display: flex;
			transition: 120ms;
		}
	}

	input[type="checkbox"] {
		opacity: 0;
		width: 0px;
		height: 0px;

		&:checked + .checkbox__mark {
			// background: #fff;

			&:after {
				margin-left: 24px;
				background: #fff;
			}
		}

		// &:checked + .checkbox__mark {
		// 	background-color: #fff;
		// 	position: relative;
		//
		// 	&:after {
		// 		content: "";
		// 		position: absolute;
		// 		top: 50%;
		// 		left: 50%;
		// 		transform: translate(-50%, -50%) rotate(45deg);
		// 		width: 5px;
		// 		height: 10px;
		// 		border: solid #030303;
		// 		border-top-width: medium;
		// 		border-right-width: medium;
		// 		border-bottom-width: medium;
		// 		border-left-width: medium;
		// 		border-width: 0 2px 2px 0;
		// 	}
		// }
	}
}
