* {
	box-sizing: border-box;
	margin: unset;
}

html {
	-webkit-text-size-adjust: 100%;
	font-variation-settings: normal;
}

body {
	font-family: "Martian Mono", monospace;
	font-weight: bold;
	background: #121212;
	color: #fff;
}
